<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Calculator" verbose="1" parallel="methods" thread-count="5">

    <test name="SumLongTest">
        <parameter name="a" value="1"/>
        <parameter name="b" value="1"/>
        <parameter name="expected" value="2"/>
        <classes>
            <class name="com.epam.atm.module4.test.SumLongTest">
                <methods>
                    <exclude name="testLongSum"></exclude>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SumDoubleTest">
        <parameter name="a" value="1.5"/>
        <parameter name="b" value="2.3"/>
        <parameter name="expected" value="3.8"/>
        <classes>
            <class name="com.epam.atm.module4.test.SumDoubleTest"></class>
        </classes>
    </test>

    <test name="DivLongTest">
        <parameter name="a" value="9"/>
        <parameter name="b" value="3"/>
        <parameter name="expected" value="3"/>
        <classes>
            <class name="com.epam.atm.module4.test.DivLongTest"></class>
        </classes>
    </test>

    <test name="DivDoubleTest">
        <parameter name="a" value="9.3"/>
        <parameter name="b" value="3.1"/>
        <parameter name="expected" value="3"/>
        <classes>
            <class name="com.epam.atm.module4.test.DivDoubleTest"></class>
        </classes>
    </test>

    <test name="PowTest">
        <parameter name="a" value="3"/>
        <parameter name="b" value="2"/>
        <parameter name="expected" value="9"/>
        <classes>
            <class name="com.epam.atm.module4.test.PowTest">
                <methods>
                    <exclude name="testPow"></exclude>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SqrtTest">
        <parameter name="a" value="16"/>
        <parameter name="expected" value="4"/>
        <classes>
            <class name="com.epam.atm.module4.test.SqrtTest"></class>
        </classes>
    </test>

    <test name="SubLongTest">
        <classes>
            <class name="com.epam.atm.module4.test.SubLongTest"></class>
        </classes>
    </test>

    <test name="SubDoubleTest">
        <classes>
            <class name="com.epam.atm.module4.test.SubDoubleTest"></class>
        </classes>
    </test>

    <test name="MultLongTest">
        <classes>
            <class name="com.epam.atm.module4.test.MultLongTest"></class>
        </classes>
    </test>

    <test name="MultDoubleTest">
        <classes>
            <class name="com.epam.atm.module4.test.MultDoubleTest"></class>
        </classes>
    </test>

    <test name="SinTest">
        <classes>
            <class name="com.epam.atm.module4.test.SinTest"></class>
        </classes>
    </test>

    <test name="CosTest">
        <classes>
            <class name="com.epam.atm.module4.test.CosTest"></class>
        </classes>
    </test>

    <test name="TgTest">
        <classes>
            <class name="com.epam.atm.module4.test.TgTest"></class>
        </classes>
    </test>

    <test name="CtgTest">
        <classes>
            <class name="com.epam.atm.module4.test.CtgTest"></class>
        </classes>
    </test>

    <test name="DivByZeroTest">
        <classes>
            <class name="com.epam.atm.module4.test.DivByZeroTest"></class>
        </classes>
    </test>

</suite>